
{% extends 'base.html' %}

{% block css %}
h2 {
  color: white;
  text-align : center;
}
img {
  width : 180px;
  height : 180px;
  margin : 10px;
  padding : 10px;
  background-color : white;
    text-align : center;
}
a.basename {
  color: white;
  text-decoration-line : none;
  text-decoration : none;
}
a:hover { text-decoration: none; }
{% endblock %}

{% block content %}
{% load static %}

<table class="table table-hover">
  <thead>
    <tr>
        <th scope="col"><h2>Base List</h2></th>
    </tr>
  </thead>
  <tbody>
  {% for b in base_list %}
  <tr class="table-info">
      <th><img src="/static/images/cocktail/{{b.basesprite}}.jpg"><a class="basename" href="/cocktail/basesprite/{{b.basesprite}}/" >{{b.basesprite}}</a></th>
      {% endfor %}

  </tbody>
</table>

{% endblock %}
