{% extends 'base.html' %}

{% block css %}
h2 {
  color: white;
  text-align : center;
}

img {
  width : 200px;
  height : 200px;
  margin : 10px;
  padding : 10px;
  background-color : white;
    text-align : center;
}

{% endblock %}

{% block content %}

{% load static %}


<table class="table table-hover">
  <thead>
    <tr>
        <th scope="col"><h2>{{base_name}}</h2></th>
    </tr>
  </thead>
  <tbody>
  {% for menu in lbyb %}
  <tr class="table-info">
      <th><img src="/static/images/cocktail/{{menu.id}}.jpg"><a href="/cocktail/{{menu.id}}/" style="color: white;">{{menu.name}}</a></th>
      {% endfor %}


  </tbody>
</table>

{% endblock %}


