{% extends 'base.html' %}

{% block css %}
h3 {
  color: white;
  text-align : center;
}
img {
  height : 180px;
  margin : 10px;
  padding : 10px;
  background-color : white;
  text-align : center;
}
td{
  vertical-align: middle;
}
{% endblock %}

{% block content %}

{% load static %}


<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="2"><h3>{{base_name}}</h3></th>
    </tr>
  </thead>
  <tbody>
    {% for menu in lbyb %}
    <tr class="table-info">
      <td><img src="/static/images/cocktail/{{menu.id}}.jpg"></th>
      <td><a href="/cocktail/{{menu.id}}/" style="color: white;">{{menu.name}}</a></th>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}


