{% extends 'base.html' %}

{% block content %}

{% load static %}
<style>
        	img {
		height : 180px;
		margin : 10px;
		padding : 10px;
		background-color : white;
	    text-align : center;
	    }
	    a{
	    text-align : center;

	    }
	    .n{
	    width : 1000px;
		height : 200px;
	    border: 1px solid blue;
	    }
</style>

<table class="table table-hover">
  <thead>
    <tr>
        <th scope="col"><h3>{{base_name}}</h3></th>
    </tr>
  </thead>
  <tbody>
  {% for menu in lbyb %}
  <tr class="table-info">
      <th><img src="/static/images/cocktail/{{menu.id}}.jpg"></th>
         <th> <a href="/cocktail/{{menu.id}}/" style="color: white;">{{menu.name}}</a></th>
      {% endfor %}
  </tbody>
</table>

{% endblock %}


