{% extends 'base.html' %}

{% block css %}
h2 {
    color: white;
    text-align : center;
}
div {
    border-radius: 4px;
}
div .member {
    background-color: #fdfafd;
}
a .related-link {
    text-decoration: none;
    text-shadow: none;
    margin: 0em 1em 0em 0em;
}
{% endblock %}

{% block content %}
{% load static %}
<h2>About</h2>
{% for people in member %}
<div class="m-3 p-4 text-primary member">
    <h5 class="mb-3 text-primary">{{people.name}}</h5>
    <p>역할: {{people.role}}</p>
    <div>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/{{people.githubid}}" class="text-black related-link">Github <i class="bi bi-github"></i></a>
        <a href="mailto:{{people.email}}" class="text-black">email <i class="bi bi-envelope-fill related-link"></i></a>
    </div>
</div>
{% endfor %}
<br><br>
{% endblock %}